{% extends 'base.html' %}

{% block title %}
  Написать нам
{% endblock %}

{% block body %}
<div class="container col-lg-4">
    {% if messages %}
      <h2 class="text-center">Результаты отправки сообщения:</h2>
      <ul class="messages">
        {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
      </ul>
    {% else %}
        <h2 class="text-center">Пожалуйста, заполните поля</h2>
        <hr>
        {% include 'form.html' %}
    {% endif %}
</div>
{% endblock %}
